body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b1d8e5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;
    /* box-shadow: #333; */
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* border-color: blue; */
    box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.674);
    margin: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 15px;
    /* border-color: black; */
  }
  
  label {
    font-weight: normal;
    color: #7c7d7d;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(61, 60, 60, 0.663);
    border-radius: 5px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .file-upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .file-name {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .file-upload-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submit-btn,
  .reset-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #45f0ab;
  }
  
  .confirmation {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #45f0ab;
    color: #fff;
  }
  
  .customToastBody{
    background-color: #45f0ab;
  }
